*, *:after, *:before {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
body {
    margin: 0;
    /* 全屏背景 */
    /*
    background: url(bg.jpg);
    background-color: #2B2B2B;
    */
}
/* jjj*/

.btn-float {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border: none;
  font-size: 18px;
  /*  背景颜色  */
  color: #2B2B2B;
  text-align: center;

  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);
}
.btn-float:hover {
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 4px 15px rgba(0, 0, 0, 0.13);
}
.btn-float:active, .btn-float:focus {
  outline: none;
}
.btn-float + .btn-float {
    /* 第四个框框的位置 */
  margin-left: 5px;
}

.yellow {
  background: #ffa000;
}

.blue {
  background: #40c4ff;
}

.green {
  background: #00e676;
}

.purple {
  background: #8e24aa;
}

.pink {
  background: #e91e63;
}


.float-btn-group {
  position: relative;
  float: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.float-btn-group .btn-triger {
  z-index: 15;
  float: left;
}
.float-btn-group .btn-list {
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.float-btn-group .btn-list li {
  display: inline-block;
}
.float-btn-group.open .icon-bars {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.model-3 {
  background: #0C0C4F;
}
.model-3 .float-btn-group {
  float: none;
  width: 50px;
  margin: auto;
}
.model-3 .float-btn-group .icon-bars {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.model-3 .float-btn-group .btn-list {
  background: #0C0C4F;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  left: 0;
  overflow: hidden;
  opacity: 0;
}
.model-3 .float-btn-group .btn-list .btn-float {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
.model-3 .float-btn-group .btn-list .btn-float:nth-child(2) {
  left: 50px;
}
.model-3 .float-btn-group .btn-list .btn-float:nth-child(3) {
  left: 160px;
}
.model-3 .float-btn-group .btn-list .btn-float:nth-child(4) {
  left: 215px;
}
.model-3 .float-btn-group.open .btn-list {
  width: 270px;
  left: -110px;
  opacity: 1;
}
.model-3 .float-btn-group.open .btn-list .btn-float {
  -moz-transition: 0.2s 0.3s;
  -o-transition: 0.2s 0.3s;
  -webkit-transition: 0.2s;
  -webkit-transition-delay: 0.3s;
  -webkit-transition: 0.2s 0.3s;
          transition: 0.2s 0.3s;
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
